@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=IBM+Plex+Sans+Arabic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --off-orange: #e32323;
  --off-red: #8f0a0a;
  --main-font: "IBM Plex Sans Arabic", sans-serif;
  --header-font: "EB Garamond", serif;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
}

section {
  margin: 100px 0;
}

li,
a {
  all: unset;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar section */

nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 45px;
  flex-direction: row;
  border-bottom: 1px solid var(--off-orange);
  z-index: 975;
}

nav .nav-logo-container {
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-logo {
  margin: 5px 0;
  width: 100%;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu .nav-item {
  margin: 0 20px;
  padding: 5px 10px;
  font-size: 22px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  color: var(--black);
  cursor: pointer;
}

.nav-menu .nav-item:hover {
  transform: scale(1.15);
  background: var(--off-orange);
  color: var(--white);
}

nav .toggler {
  cursor: pointer;
  display: none;
}

nav .toggler img {
  width: 3rem;
}

nav .nav-active {
  transform: translateX(0);
}

/* Landing Page section */

#landing-page {
  min-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 100px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 0 20px;
  border: 1px solid var(--off-red);
  border-radius: 5px;
}

.landing-header {
  font-family: var(--header-font);
  font-size: 77px;
  letter-spacing: 1px;
  color: var(--off-orange);
}

.landing-text {
  font-family: var(--header-font);
  font-size: 35px;
}

/* about section  */

#about {
  width: 100%;
  height: 100vh;
  position: relative;
}

#about .about-header-container {
  width: 100%;
  min-height: 100%;
  background: url("./assets/bm-full.webp");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about .about-header {
  color: var(--white);
  background: rgba(0, 0, 0, 0.55);
  letter-spacing: 4px;
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 68px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 40vh 0;
}

#about .about-header span {
  color: var(--off-orange);
  font-family: var(--header-font);
  font-size: 88px;
}

#about .info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 100px 20px 0;
  min-height: 100vh;
  color: var(--white);
}

#about .info-box {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: 50px 0;
}

#about .info-box-last {
  margin: 50px 0 0;
}

#about .left {
  flex-direction: row;
}

#about .right {
  flex-direction: row-reverse;
}

#about .lazyload-wrapper {
  width: 40%;
}

#about .info-img {
  width: 100%;
  border-radius: 5px;
}

#about .info-text {
  width: 50%;
  padding: 20px;
  font-size: 18px;
  color: var(--black);
  font-family: var(--main-font);
  position: relative;
  text-align: left;
  line-height: 2;
}

#about .info-box span {
  position: absolute;
  top: -125px;
  font-size: 100px;
  font-family: var(--header-font);
  color: var(--off-orange);
}

#about .about-header-last {
  background: var(--white);
  color: var(--black);
}

#about .founder-container, #about .location-container {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#about .founder-info {
  padding: 20px;
  border: 1px solid var(--off-red);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: 300px;
}

#about .founder-img-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
}

#about .founder-img-container img {
  width: 150px;
}

#about .founder-name {
  font-size: 28px;
  color: var(--off-orange);
  font-family: var(--header-font);
}

#about .founder-info .vertical-line {
  height: 250px;
  margin: 0 30px;
}

#about .founder-text {
  width: 70%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: bold;
}

.horizontal-line {
  width: 95%;
  height: 1px;
  background: var(--off-orange);
  margin: 50px auto;
}

.vertical-line {
  height: 75vh;
  width: 1px;
  background: var(--off-orange);
  /* margin: 50px auto; */
}

.large-hidden {
  display: none;
}

.small-hidden {
  display: block;
}

/*  */

/* contact form styling */
input {
  text-align: center;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--tertiary-dark);
  background: var(--secondary-dark);
  border-radius: 5px;
  outline: none;
  color: var(--tertiary-dark);
  font-size: 1em;
  transition: 0.5s ease-in-out;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.inputBox input:focus ~ span {
  color: var(--secondary-dark);
  transform: translateX(30px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: var(--tertiary-dark);
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  letter-spacing: 0.2em;
}

.inputBox input:focus {
  border: 1px solid #000000;
}

.inputBoxMessage {
  height: 6rem;
}

.inputBoxMessageInput {
  height: 6rem;
  text-align: left;
}

/* The input buttons */

.inputBoxBtnContainer {
  text-align: center;
}

.inputBoxBtn {
  text-align: center;
  background-color: var(--tertiary-dark);
  border: 0;
  width: 8rem;
  height: 2.25rem;
  padding: 1%;
  color: var(--secondary-dark);
  font-weight: bold;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  letter-spacing: 1.25px;
}

.inputBoxBtn:hover {
  box-shadow: 10px 10px 20px black;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  #about .info-container {
    padding: 65px 0;
  }

  #about .info-box {
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  #about .info-box:first-child {
    margin: 0 0 100px;
  }

  #about .left {
    flex-direction: column;
  }

  #about .right {
    flex-direction: column;
  }

  #about .lazyload-wrapper {
    width: 90%;
  }

  #about .info-img {
    width: 100%;
    border-radius: 5px;
    /* margin: 50px 0; */
  }

  #about .info-text {
    width: 90%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
    font-size: 18px;
    color: var(--black);
    font-family: var(--main-font);
    position: relative;
    text-align: center;
    line-height: 1.5;

    margin: 0 0 50px;
  }

  #about .info-box span {
    position: relative;
    top: 0;
    font-size: 70px;
    color: var(--off-orange);
    display: block;
  }

  #about .left span {
    left: 0;
  }

  #about .right span {
    right: 0;
  }

  #about .about-header-last {
    padding: 20px 0 100px;
    font-size: 32px;
    white-space: nowrap;
  }

  #about .about-header-last span {
    font-size: 48px;
  }

  #about .founder-info {
    flex-direction: column;
    min-height: 100vh;
  }

   #about .founder-img-container {
    min-height: 15vh;
   }

   #about .founder-img-container img {
    width: 95px;
   }

   #about .horizontal-line {
    margin: 50px 0;
   }

  #about .founder-text {
    width: 100%;
    min-height: 50vh;
    text-align: center;
  }

  /*  */

  .large-hidden {
    display: block;
  }

  .small-hidden {
    display: none;
  }

  /*  */
}

@media screen and (max-width: 768px) {
  /* navbar */

  nav {
    padding: 10px;
    position: fixed;
    top: 0;
    background: var(white);
  }
  nav .toggler {
    display: block;
  }

  nav .toggler .menu-btn {
    transform: rotate(180deg);
    transition: 1s ease-in-out;
  }

  nav .toggler .turned-btn {
    transform: rotate(-270deg);
  }

  nav ul {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    transform: translateX(100%);
    background-color: var(--black);
    opacity: 0.9;
    transition: 0.5s ease-in-out;
  }

  .nav-menu .nav-item {
    margin: 0;
    color: var(--white);
  }

  /* landing page section */

  #landing-page {
    margin-top: 10vh;
  }

  .landing-container {
    justify-content: space-evenly;
    margin: 0;
    padding: 0 5px;
    width: 90vw;
    /* height: 70vh; */
  }

  /* about section */
  #about .about-header-container {
    background: url("./assets/morning-seder.webp");
    background-size: cover;
    background-position: 50%;
    justify-content: center;
  }

  #about .about-header {
    font-size: 18px;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
  }

  #about .about-header span {
    font-size: 32px;
  }

  #about .founder-text {
    font-size: 16px;
  }

  /*  */

  .horizontal-line {
    margin: 0;
    width: 85%;
  }
  .vertical-line {
    display: none;
  }

  /*  */
}
