* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
main {
  min-height: 100vh;
}

section {
  min-height: 100%;
}

header {
  position: fixed;
  top: 0;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 10px 0;
}

header .brand-logo {
  padding-left: 5%;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding-right: 5%;
}

header ul li {
  padding: 0 10px;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}

.donate-link {
  background: #dc5f00;
  padding: 5px 10px;
  border-radius: 25px;
  margin-right: 10px;
}

/* landing section */

#landingSection {
  background-color: #1b2430;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.landing-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.landing-content h1 {
  font-size: 35px;
  letter-spacing: 1.25px;
}

/* About section | who we are */

#about {
  padding: 0 5%;
  background-color: #1b2430;
}

.who-we-are {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/who-we-are-img.webp");
  min-height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.who-we-are h2 {
  font-size: 3.5rem;
  color: #ffffff;
  position: absolute;
  top: 115vh;
}

.who-we-are h2 span {
  background-color: #dc5f00;
  border-radius: 25px;
  padding: 10px 15px;
}

.who-we-are p {
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 20px;
  position: absolute;
  top: 170vh;
  padding: 3% 12%;
  text-align: center;
}

/* About section | what we offer */

#offers {
  min-height: 100vh;
  background: #1b2430;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#offers h2 {
  size: 3.5rem;
  color: #ffffff;
  position: absolute;
  top: 208vh;
}
#offers h2 span {
  background-color: #dc5f00;
  border-radius: 25px;
  padding: 10px 15px;
}

#offers ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50%;
  text-align: center;
}

#offers ul li {
  list-style: none;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px;
}

#offers ul li span {
  background: #dc5f00;
  color: #ffffff;
  border-radius: 25px;
  padding: 5px 10px;
}

.what-we-offer {
  width: 45%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.carousel {
  min-height: 60vh;
  top: 120px;
}

.carousel-fade .carousel-item.active {
  width: 400px;
  height: 400px;
}

.carousel-item .d-block {
  width: 100%;
  height: 100%;
}

.carousel-control-next span {
  position: relative;
  left: 55px;
}

.carousel-control-prev span {
  position: relative;
  right: 55px;
}

.carousel-caption h3 {
  position: relative;
  bottom: 0;
}

.carousel-indicators button {
  display: none;
}

.carousel-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}
